// Variables

@mixin bold-text {
  font-weight: bold;
  text-transform: uppercase;
}

@mixin padding {
  padding-bottom: 2em;
  padding-top: 2em;
  
}

// main color
$bt-color: #00e8a4;

.color {
    color: $bt-color;
}

// navbar styles
.navbar-nav > .nav-item > .nav-link > a:hover {
color: $bt-color;
background-color: transparent;
}

// carousele styles
.carousel-indicators-numbers {
  li {
    text-indent: 0;
    margin: 0 2px;
    width: 20px;
    height: 20px;
    border: 2px solid $bt-color;
    border-radius: 100%;
    line-height: 20px;
    color: #fff;
    background-color: transparent;

    transition: all 0.25s ease;
    &.active, &:hover {
      margin: 0 2px;
      width: 25px;
      height: 25px;
      background-color: $bt-color;        
    }
  }
}
// cards section styles

.cards-section {
  text-align: center;
  padding: 40px;
}

hr {
  width: 40%;
  background-color: #000;
}

.bottom-pad {
    @include padding
}

.card-img-top {
  height: 50px;
}

.card {
  box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
  transition: all 0.3s cubic-bezier(.25,.8,.25,1);
}

.greenline-a {
  background-color: white;
  height: 10px;
  margin: 0 0 0 0;
}

.greenline {
  background-color: white;
  height: 10px;
  margin: 0 0 0 0;
}

// Button

/**
 * $Variables 
 **/
 $color-btn: white !default;
 $color-btn-active: $bt-color !default;
 
 /**
  * $Mixins 
  **/
 @mixin fontsize($size: 10, $base: 22) {
   font-size: $size + px;
   font-size: ($size / $base) * 1rem;
 } /* http://www.sitepoint.com/sass-mixins-kickstart-project/ */
 
 @mixin transition-timing-function($timing) {
     -webkit-transition-timing-function: $timing;
     -moz-transition-timing-function: $timing;
     -o-transition-timing-function: $timing;
     transition-timing-function: $timing;
 }
 
 @mixin animation($animation) {
   -webkit-animation: $animation;
   -moz-animation: $animation;
   -o-animation: $animation;
   animation: $animation;
 }
 
 @mixin transition-duration($duration) {
   -webkit-transition-duration: $duration;
   -moz-transition-duration: $duration;
   -o-transition-duration: $duration;
   transition-duration: $duration;
 }
 
 /* $Buttom */
 a.btn{
   text-transform: uppercase;
   display: inline-block;
   margin: 15px 15px 0;
   padding: .3em 2em;
   @include fontsize(22);
   text-decoration: none;
   outline: none;
   color: black;
   background-color: $color-btn;
   border-radius: 3px;
   box-shadow: 0 0 0 -2px $bt-color, 0 0 0 -1px $color-btn;
   border: 1px solid $bt-color;
   -webkit-transition: -webkit-box-shadow .3s;
   transition:box-shadow .3s;
   &:hover, &:focus {
     box-shadow: 0 0 0 2px $bt-color, 0 0 0 4px darken($bt-color, 5%);
     @include transition-timing-function(cubic-bezier(.6,4,.3,.8));
     @include animation (gelatine .5s 1);
   }
 }
 
 a.btn:active, {
     background: $bt-color;
     @include transition-duration(0);
     box-shadow: 0 0 0 2px $bt-color, 0 0 0 4px darken($bt-color, 5%);
   }
 
 /**
  * $keyframes \ gelatine 
  **/
 @keyframes gelatine{
   from,to{
     -webkit-transform:scale(1, 1);
     transform:scale(1, 1)
   }
   25%{
     -webkit-transform:scale(.9, 1.1);
     transform:scale(.9, 1.1)
   }
   50%{
     -webkit-transform:scale(1.1, .9);
     transform:scale(1.1, .9)
   }
   75%{
     -webkit-transform:scale(.95, 1.05);
     transform:scale(.95, 1.05)
   }
   from,to{
     -webkit-transform:scale(1, 1);
     transform:scale(1, 1)
   }
   25%{
     -webkit-transform:scale(.9, 1.1);
     transform:scale(.9, 1.1)
   }
   50%{
     -webkit-transform:scale(1.1, .9);
     transform:scale(1.1, .9)
   }75%{
     -webkit-transform:scale(.95, 1.05);
     transform:scale(.95, 1.05)
   }
 }
 
 @-webkit-keyframes gelatine{
   from,to{
     -webkit-transform:scale(1, 1);
     transform:scale(1, 1)
   }
   25%{
     -webkit-transform:scale(.9, 1.1);
     transform:scale(.9, 1.1)
   }
   50%{
     -webkit-transform:scale(1.1, .9);
     transform:scale(1.1, .9)
   }
   75%{
     -webkit-transform:scale(.95, 1.05);
     transform:scale(.95, 1.05)
   }
   from,to{
     -webkit-transform:scale(1, 1);
     transform:scale(1, 1)
   }
   25%{
     -webkit-transform:scale(.9, 1.1);
     transform:scale(.9, 1.1)
   }
   50%{
     -webkit-transform:scale(1.1, .9);
     transform:scale(1.1, .9)
   }75%{
     -webkit-transform:scale(.95, 1.05);
     transform:scale(.95, 1.05)
   }
 }
 
// Gallery section

.picup {
 text-align: center;
 text-transform: uppercase;
 font-weight: 500;
}
.pictures-a {
  padding: 0 0 0 0;
  margin: 0 0 0 0;
}

.img-responsive {
  width: 100%;
}

.hovereffect {
    width:100%;
    height:100%;
    float:left;
    overflow:hidden;
    position:relative;
    text-align:center;
    cursor:default;
    }
    
    .hovereffect .overlay {
    width:100%;
    height:100%;
    position:absolute;
    overflow:hidden;
    top:0;
    left:0;
    opacity:0;
    background-color:rgba(0,0,0,0.5);
    -webkit-transition:all .4s ease-in-out;
    transition:all .4s ease-in-out
    }
    
    .hovereffect img {
    display:block;
    position:relative;
    -webkit-transition:all .4s linear;
    transition:all .4s linear;
    }
    
    .hovereffect h2 {
    text-transform:uppercase;
    color:#fff;
    text-align:center;
    position:relative;
    font-size:17px;
    background:rgba(0,0,0,0.6);
    -webkit-transform:translatey(-100px);
    -ms-transform:translatey(-100px);
    transform:translatey(-100px);
    -webkit-transition:all .2s ease-in-out;
    transition:all .2s ease-in-out;
    padding:10px;
    }
    
    .hovereffect a.info {
    text-decoration:none;
    display:inline-block;
    text-transform:uppercase;
    color:#fff;
    border:1px solid #fff;
    background-color:transparent;
    opacity:0;
    filter:alpha(opacity=0);
    -webkit-transition:all .2s ease-in-out;
    transition:all .2s ease-in-out;
    margin:50px 0 0;
    padding:7px 14px;
    }
    
    .hovereffect a.info:hover {
    box-shadow:0 0 5px #fff;
    }
    
    .hovereffect:hover img {
    -ms-transform:scale(1.2);
    -webkit-transform:scale(1.2);
    transform:scale(1.2);
    }
    
    .hovereffect:hover .overlay {
    opacity:1;
    filter:alpha(opacity=100);
    }
    
    .hovereffect:hover h2,.hovereffect:hover a.info {
    opacity:1;
    filter:alpha(opacity=100);
    -ms-transform:translatey(0);
    -webkit-transform:translatey(0);
    transform:translatey(0);
    }
    
    .hovereffect:hover a.info {
    -webkit-transition-delay:.2s;
    transition-delay:.2s;
    }

    .hovereffect1 {
        width: 100%;
        height: 100%;
        float: left;
        overflow: hidden;
        position: relative;
        text-align: center;
        cursor: default;
      }
      
      .hovereffect1 .overlay {
        width: 100%;
        height: 100%;
        position: absolute;
        overflow: hidden;
        top: 0;
        left: 0;
        background-color: rgba(0,0,0,0.6);
        opacity: 0;
        filter: alpha(opacity=0);
        -webkit-transform: translate(460px, -100px) rotate(180deg);
        -ms-transform: translate(460px, -100px) rotate(180deg);
        transform: translate(460px, -100px) rotate(180deg);
        -webkit-transition: all 0.2s 0.4s ease-in-out;
        transition: all 0.2s 0.4s ease-in-out;
      }
      
      .hovereffect1 img {
        display: block;
        position: relative;
        -webkit-transition: all 0.2s ease-in;
        transition: all 0.2s ease-in;
      }
      
      .hovereffect1 h2 {
        text-transform: uppercase;
        color: #fff;
        text-align: center;
        position: relative;
        font-size: 17px;
        padding: 10px;
        background: rgba(0, 0, 0, 0.6);
      }
      
      .hovereffect1 a.info {
        display: inline-block;
        text-decoration: none;
        padding: 7px 14px;
        text-transform: uppercase;
        color: #fff;
        border: 1px solid #fff;
        margin: 50px 0 0 0;
        background-color: transparent;
        -webkit-transform: translateY(-200px);
        -ms-transform: translateY(-200px);
        transform: translateY(-200px);
        -webkit-transition: all 0.2s ease-in-out;
        transition: all 0.2s ease-in-out;
      }
      
      .hovereffect1 a.info:hover {
        box-shadow: 0 0 5px #fff;
      }
      
      .hovereffect1:hover .overlay {
        opacity: 1;
        filter: alpha(opacity=100);
        -webkit-transition-delay: 0s;
        transition-delay: 0s;
        -webkit-transform: translate(0px, 0px);
        -ms-transform: translate(0px, 0px);
        transform: translate(0px, 0px);
      }
      
      .hovereffect1:hover h2 {
        -webkit-transform: translateY(0px);
        -ms-transform: translateY(0px);
        transform: translateY(0px);
        -webkit-transition-delay: 0.5s;
        transition-delay: 0.5s;
      }
      
      .hovereffect1:hover a.info {
        -webkit-transform: translateY(0px);
        -ms-transform: translateY(0px);
        transform: translateY(0px);
        -webkit-transition-delay: 0.3s;
        transition-delay: 0.3s;
      }


      .hovereffect2 {
        width: 100%;
        height: 100%;
        float: left;
        overflow: hidden;
        position: relative;
        text-align: center;
        cursor: default;
      }
      
      .hovereffect2 .overlay {
        width: 100%;
        height: 100%;
        position: absolute;
        overflow: hidden;
        top: 0;
        left: 0;
      }
      
      .hovereffect2 img {
        display: block;
        position: relative;
        -webkit-transition: all 0.4s ease-in;
        transition: all 0.4s ease-in;
      }
      
      .hovereffect2:hover img {
        filter: url('data:image/svg+xml;charset=utf-8,<svg xmlns="http://www.w3.org/2000/svg"><filter id="filter"><feColorMatrix type="matrix" color-interpolation-filters="sRGB" values="0.2126 0.7152 0.0722 0 0 0.2126 0.7152 0.0722 0 0 0.2126 0.7152 0.0722 0 0 0 0 0 1 0" /><feGaussianBlur stdDeviation="3" /></filter></svg>#filter');
        filter: grayscale(1) blur(3px);
        -webkit-filter: grayscale(1) blur(3px);
        -webkit-transform: scale(1.2);
        -ms-transform: scale(1.2);
        transform: scale(1.2);
      }
      
      .hovereffect2 h2 {
        text-transform: uppercase;
        text-align: center;
        position: relative;
        font-size: 17px;
        padding: 10px;
        background: rgba(0, 0, 0, 0.6);
      }
      
      .hovereffect2 a.info {
        display: inline-block;
        text-decoration: none;
        padding: 7px 14px;
        border: 1px solid #fff;
        margin: 50px 0 0 0;
        background-color: transparent;
      }
      
      .hovereffect2 a.info:hover {
        box-shadow: 0 0 5px #fff;
      }
      
      .hovereffect2 a.info, .hovereffect h2 {
        -webkit-transform: scale(0.7);
        -ms-transform: scale(0.7);
        transform: scale(0.7);
        -webkit-transition: all 0.4s ease-in;
        transition: all 0.4s ease-in;
        opacity: 0;
        filter: alpha(opacity=0);
        color: #fff;
        text-transform: uppercase;
      }
      
      .hovereffect2:hover a.info, .hovereffect:hover h2 {
        opacity: 1;
        filter: alpha(opacity=100);
        -webkit-transform: scale(1);
        -ms-transform: scale(1);
        transform: scale(1);
      }
      
      .hovereffect3 {
        width: 100%;
        height: 100%;
        float: left;
        overflow: hidden;
        position: relative;
        text-align: center;
        cursor: default;
      }
      
      .hovereffect3 .overlay {
        width: 100%;
        height: 100%;
        position: absolute;
        overflow: hidden;
        left: 0;
        background-color: rgba(255, 255, 255, 0.7);
        top: -200px;
        opacity: 0;
        filter: alpha(opacity=0);
        -webkit-transition: all 0.1s ease-out 0.5s;
        transition: all 0.1s ease-out 0.5s;
      }
      
      .hovereffect3:hover .overlay {
        opacity: 1;
        filter: alpha(opacity=100);
        top: 0px;
        -webkit-transition-delay: 0s;
        transition-delay: 0s;
      }
      
      .hovereffect3 img {
        display: block;
        position: relative;
      }
      
      .hovereffect3 h2 {
        text-transform: uppercase;
        color: #fff;
        text-align: center;
        position: relative;
        font-size: 17px;
        padding: 10px;
        background: rgba(0, 0, 0, 0.6);
        -webkit-transform: translateY(-200px);
        -ms-transform: translateY(-200px);
        transform: translateY(-200px);
        -webkit-transition: all ease-in-out 0.1s;
        transition: all ease-in-out 0.1s;
        -webkit-transition-delay: 0.3s;
        transition-delay: 0.3s;
      }
      
      .hovereffect3:hover h2 {
        -webkit-transform: translateY(0px);
        -ms-transform: translateY(0px);
        transform: translateY(0px);
        -webkit-transition-delay: 0.3s;
        transition-delay: 0.3s;
      }
      
      .hovereffect3 a.info {
        display: inline-block;
        text-decoration: none;
        padding: 7px 14px;
        text-transform: uppercase;
        margin: 50px 0 0 0;
        background-color: transparent;
        -webkit-transform: translateY(-200px);
        -ms-transform: translateY(-200px);
        transform: translateY(-200px);
        color: #000;
        border: 1px solid #000;
        -webkit-transition: all ease-in-out 0.3s;
        transition: all ease-in-out 0.3s;
      }
      
      .hovereffect3 a.info:hover {
        box-shadow: 0 0 5px #fff;
      }
      
      .hovereffect3:hover a.info {
        -webkit-transform: translateY(0px);
        -ms-transform: translateY(0px);
        transform: translateY(0px);
        box-shadow: 0 0 5px #000;
        color: #000;
        border: 1px solid #000;
        -webkit-transition-delay: 0.3s;
        transition-delay: 0.3s;
      }

      .rest {
        text-align: center;
        @include bold-text();
        @include padding();
      }

      .opinion-carousele {
        padding: 50px;
        text-align: center;
        background-color: grayscale($color: #272829);
        color: white;
      }

      .contact {
        @include bold-text;
        text-transform: capitalize;
      }

      .contact-details {
        color: #272829;
        text-decoration: none;
        font-weight: normal;
      }

      .footer {
        background-color: $bt-color;
        height: 60px;
      }
      .footer-logo {
        display: block;
        margin: auto auto;
      }

      .footermenu {
        text-decoration: none;
        color: #272829;
      }